.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 5px;
}

.product-container{
    border-right: 1px solid black;
    margin-right: 10px;
    margin-left: 100px;
}

.search-container{
    background-color: rgb(58, 56, 56);
    text-align: center;
    padding: 20px 0 0 0 ;
    padding-bottom: 20px;
}

.search-container input{
    width: 75%;
    height: 25px;
    
}